

.header {
    background-color: #101010;
    color: white;
    padding: 20px;
}

.inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.content {
    text-align: left;
    margin-top: 50px;
}

.content img {
    width: 220px;
    height: 250px;
    margin-bottom: 20px;
    float: left;
}

.navigation a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.navigation a:hover {
  background-color: #f0f0f0;
  color: black;
}
